.Home {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/background.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: contain;
  height: 100%;
}
.home-main {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 25px 0px 100px 0px;
}
#home-heading {
  width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 60px;
  box-sizing: border-box;
  height: 70vh;
  align-items: flex-start;
}
#home-heading span {
  font-size: 3rem;
  color: rgb(22, 38, 83);
  font-weight: 750;
  white-space: normal;
  text-align: left;
}
#home-img {
  width: 38%;
}
#home-img img {
  height: 600px;
}

#home-signin {
  width: 500px;
  height: 60px;
  border-radius: 35px;
  border: 1px solid rgb(216, 203, 203);
  display: flex;
  padding: 3px;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  margin-top: 60px;
}
#home-signin input {
  border: none;
  font-weight: 700;
  width: 300px;
  font-size: 0.8rem;
  outline: none;
  padding: 0 20px;
  font-family: "Inter";
  flex: 1;
}
#home-signin input::placeholder {
  color: rgb(216, 203, 203);
}
#home-signin button {
  background-color: orange;
  font-family: "Inter";
  width: 200px;
  height: 100%;
  font-weight: 700;
  border-radius: 35px;
  border: none;
  color: white;
}
@media (min-width: 1400px) {
  .home-main {
    width: 1300px;
  }
}
@media (max-width: 1250px) {
  #home-img img {
    height: 530px;
  }
}
@media (max-width: 1020px) {
  .home-main {
    display: flex;
    flex-direction: column;
  }
  #home-heading {
    align-items: center;
    width: 100vw;
    justify-content: center;
    padding-left: 0px;
    text-align: center;
    padding: 0;
    height: 50vh;
    align-items: center;
  }
  #home-heading span {
    font-size: 3.5rem;
    margin: 0;
  }
  #home-img {
    width: 100vw;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  #home-img img {
    height: 600px;
  }
  #home-signin {
    height: 60px;
    margin-top: 60px;
  }

  #home-signin button {
    height: 100%;
  }
}

@media (max-width: 550px) {
  #home-heading span {
    font-size: 2.8rem;
    text-align: center;
    align-items: center;
  }
  #home-signin {
    width: 80%;
    height: 50px;
  }
  #home-signin input {
    width: 40%;
  }

  #home-signin button {
    width: 60%;
  }
  #home-img img {
    width: 80vw;
    height: auto;
  }
}

@media (max-width: 455px) {
  #home-heading span {
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
  }
  #home-signin {
    width: 80%;
  }
  #home-signin input {
    width: 40%;
  }

  #home-signin button {
    width: 60%;
  }
}

@media (max-width: 375px) {
  #home-heading span {
    font-size: 2.2rem;
    text-align: center;
    align-items: center;
  }
  #home-signin {
    width: 80%;
  }
  #home-signin input {
    width: 40%;
  }

  #home-signin button {
    width: 60%;
  }
}
